localhost:2015
# disable HTTPS to run the server on localhost
tls off
root /srv/www/timshorts
#git {
#    repo git@github.com:opslogic/timshorts.git
#    then hugo --theme ananke --destination /srv/www/timshorts --baseURL localhost/
#    key /root/.ssh/id_rsa
#    branch master
#   interval 300
#}

